<!-- Base utilizada para renderizar los templates de logueo a la aplicación. -->
{% load i18n static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts and icons -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <!-- Font Awasome Icons -->
    <script src="https://kit.fontawesome.com/35be38064a.js" crossorigin="anonymous"></script>

    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />

    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />

    <!-- prettier-ignore -->
    {% block stylesheets %}{% endblock stylesheets %}
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body class="bg-gray-200">
    {% block content %}{% endblock content %}

    <!-- Core JS Files -->
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'assets/js/material-dashboard.min.js' %}"></script>
    <!-- prettier-ignore -->
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
