{% extends "layouts/base.html" %}

{% load i18n static %}

{% block title %}
    {% trans "Users" %}
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <div class="col">
              <h5 class="text-white text-capitalize ps-3">{% trans "Users" %}</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col d-flex">
              <form id="search-form" method="GET" onsubmit="return false">
                <div class="input-group input-group-outline">
                  <label class="form-label">{% trans "Search..." %}</label>
                  <input
                    id="search-input"
                    type="text"
                    class="form-control"
                    onfocus="focused(this)"
                    onfocusout="defocused(this)"
                    name="q"
                    autocomplete="off"
                  />
                </div>
              </form>
            </div>
            {% if perms.authentication.add_user %}
            <div class="col d-flex justify-content-end">
              <button type="button" hx-get="{% url 'AddUsers' %}" class="btn btn-primary mx-2" hx-target="#dialog">
                <i class="fa-solid fa-plus"></i> {% trans "Add Users" %}
              </button>
            </div>
            {% endif %}
          </div>
          <form method="GET">
            <label>{% trans "Show entries" %}</label>
            <select name="paginate_by" id="paginate-by" onchange="this.form.submit()">
                <option value="10" {% if request.GET.paginate_by == '10' %} selected {% endif %}>10</option>
                <option value="25" {% if request.GET.paginate_by == '25' %} selected {% endif %}>25</option>
                <option value="50" {% if request.GET.paginate_by == '50' %} selected {% endif %}>50</option>
                <option value="100" {% if request.GET.paginate_by == '100' %} selected {% endif %}>100</option>
            </select>
            <input type="hidden" name="q" value="{{ request.GET.q }}">
        </form>
          <div class="scrollable-content" id="dynamic-scrollable-content" style="overflow-y: auto;">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "company" %} </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "process" %} </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "username" %} </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "first name" %} </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "last name" %} </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> {% trans "email" %} </th>
                </tr>
                </thead>
                <tbody>
                  {% for item in object_list %}
                  <tr>
                    <td>
                      {% if perms.authentication.add_user %}
                      <button type="button" hx-get="{% url 'UpdateUsers' item.id %}" class="btn btn-primary" hx-target="#dialog">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" hx-get="{% url 'UpdatePermissionUsers' item.id %}" class="btn btn-primary" hx-target="#dialog">
                        <i class="fa-solid fa-key"></i>
                      </button>
                      {% endif %}
                      {% if perms.authentication.delete_user %}
                      <button type="button" hx-get="{% url 'DeleteUsers' item.id %}" class="btn btn-danger" hx-target="#dialog">
                        <i class="fa-solid fa-trash"></i>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center text-sm">{{ item.company }}</td>
                    <td class="align-middle text-center text-sm">{{ item.process }}</td>
                    <td class="align-middle text-center text-sm">{{ item.username }}</td>
                    <td class="align-middle text-center text-sm">{{ item.first_name }}</td>
                    <td class="align-middle text-center text-sm">{{ item.last_name }}</td>
                    <td class="align-middle text-center text-sm">{{ item.email }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-4">
            <div class ="col-6 d-flex justify-content-start">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1&paginate_by={{ request.GET.paginate_by }}&q={{ request.GET.q }}">{% trans 'Home' %}</a>
                  </li>
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ page_obj.previous_page_number }}&paginate_by={{ request.GET.paginate_by }}&q={{ request.GET.q }}"
                      >&laquo;</a
                    >
                  </li>
                  {% endif %} {% if page_obj.number|add:"-4" > 1 %}
                  <li class="page-item"><span class="page-link">...</span></li>
                  {% endif %} {% for num in page_obj.paginator.page_range %} {% if num > page_obj.number|add:"-4" and num < page_obj.number|add:"4" %}
                  <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}&paginate_by={{ request.GET.paginate_by }}&q={{ request.GET.q }}">{{ num }}</a>
                  </li>
                  {% endif %} {% endfor %} {% if page_obj.number|add:"3" < page_obj.paginator.num_pages %}
                  <li class="page-item"><span class="page-link">...</span></li>
                  {% endif %} {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&paginate_by={{ request.GET.paginate_by }}&q={{ request.GET.q }}"
                      >&raquo;</a
                    >
                  </li>
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ page_obj.paginator.num_pages }}&paginate_by={{ request.GET.paginate_by }}&q={{ request.GET.q }}"
                      >{% trans 'End' %}</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class ="col-6 d-flex justify-content-end">
                <div class="pagination-info">
                    {% trans 'Displaying' %} {{ page_obj.start_index }} {% trans 'to' %} {{ page_obj.end_index }} {% trans 'of' %} {{ page_obj.paginator.count }} {% trans 'items.' %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'assets/js/dynamic-scrollable-content.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'assets/js/search.js' %}"></script>
{% endblock %}
