{% load i18n static %} {% block content %} {{form.media}}

<div class="modal-content">
  <div class="modal-body">
    <div class="card">
    <div class="modal-header">
      <h3>{% trans "Add Device" %}</h3>
      <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <form hx-post="{{ request.path }}">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_imei">{% trans "Imei:" %} <span style="color:red;">*</span> </label>
              {{ form.imei }}
            </div>
            {% if form.imei.errors %}
              <div class="text-danger">{{ form.imei.errors }}</div>
            {% endif %}
          </div>
          <div class="col">
            <p>
                <div class="input-group input-group-static mb-4">
                    <label for="id_company">{% trans "Company:" %} <span style="color:red;">*</span> </label>
                    {{form.company}}
                </div>
                <div id="form-errors">
                    {{form.company.errors}}
                </div>
              </p>
        </div>
            <div class="col">
              <p></p>
              <div class="input-group input-group-static mb-4">
                <label for="id_simcard">{% trans "Simcard:" %} <span style="color:red;">*</span> </label>
                {{ form.simcard }}
              </div>
              {% if form.simcard.errors %}
                <div class="text-danger">{{ form.simcard.errors }}</div>
              {% endif %}
            </div>
        </div>
        <div class="row">
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_manufacture">{% trans "Manufacture:" %} <span style="color:red;">*</span> </label>
              <select name="manufacture" class="form-control" required id="id_manufacture">
                {% for manufacture in manufactures %}
                <option value="{{manufacture.id}}">{{manufacture.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_model">{% trans "Model:" %} <span style="color:red;">*</span> </label>
              <select name="familymodel" class="form-control" required id="id_model"></select>
            </div>
          </div>
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_serial_number">{% trans "Serial number:" %}<span style="color:red;">*</span></label>
              {{form.serial_number}}
              {% if form.serial_number.errors %}
                <div class="text-danger">{{ form.serial_number.errors }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p></p>
            <div class="form-check form-switch" style="padding-block-start: 35px">
              <label for="id_is_active" class="form-check-label"> {% trans "Is active?" %} </label>
              {{form.is_active}}
            </div>
          </div>
          <div class="col-6">
            <p></p>
            <div class="input-group input-group-static mb-2">
              <label for="id_firmware">{% trans "Firmware:" %} <span style="color:red;">*</span> </label>
              {{form.firmware}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-primary mt-3" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}">
</head>

<script src="{% static 'assets/js/realtime/device/filtro.js' %}"></script>
<script>


  $(document).ready(function() {
    $("#id_manufacture").change(updateModels);
    updateModels();

    function updateModels() {
      var selected_manufacture = $("#id_manufacture").val();
      $("#id_model").empty();
      {% for family_model in family_models %}
        if (selected_manufacture == {{ family_model.manufacture.id }}) {
          $("#id_model").append(
            '<option value="{{ family_model.id }}">{{ family_model.model.name }} - {{ family_model.model.network_type }}</option>'
          );
        }
      {% endfor %}
    }
  });
</script>

{% endblock content %}
