{% load i18n static %} {% block content %} {{form.media}}

<div class="modal-content" id="miModal" style="z-index: 1050">
  <div class="modal-body">
    <div class="card">
    <div class="modal-header">
      <h3>{% trans "Update Device" %}</h3>
      <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <form hx-post="{{ request.path }}" hx-target="#modal-content">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_imei">{% trans "Imei:" %} <span style="color:red;">*</span> </label>
              {{ form.imei }}
            </div>
            {% if form.imei.errors %}
              <div class="text-danger">{{ form.imei.errors }}</div>
            {% endif %}
          </div>
          <div class="col">
            <p>
              <div class="input-group input-group-static mb-4">
                <label for="company">{% trans "Company:" %} <span style="color:red;">*</span> </label>
                {{form.company}}
              </div>
              <div id="form-errors">
                {{form.company.errors}}
              </div>
            </p>
          </div>
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_simcard">{% trans "Simcard:" %} <span style="color:red;">*</span> </label>
              {{ form.simcard }}
            </div>
            {% if form.simcard.errors %}
              <div class="text-danger">{{ form.simcard.errors }}</div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_manufacture">{% trans "Manufacture:" %} <span style="color:red;">*</span> </label>
              <select name="manufacture" class="form-control" required id="id_manufacture" data-initial-value="{{ manufacture_assigned }}">
                <option value="" disabled selected>---------</option>
                {% for manufacture in manufactures %}
                    <option value="{{ manufacture.id }}" >
                        {{ manufacture.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
          </div>
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_familymodel">{% trans "Model:" %} <span style="color:red;">*</span> </label>
              {{form.familymodel}}
            </div>
          </div>
          <div class="col">
            <p></p>
            <div class="input-group input-group-static mb-4">
              <label for="id_serial_number">{% trans "Serial number:" %}<span style="color:red;">*</span></label>
              {{form.serial_number}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p></p>
            <div class="form-check form-switch" style="padding-block-start: 35px">
              <label for="id_is_active" class="form-check-label"> {% trans "Is active?" %} </label>
              {{form.is_active}}
            </div>
          </div>
          <div class="col-6">
            <p></p>
            <div class="input-group input-group-static mb-2">
              <label for="id_firmware">{% trans "Firmware:" %} <span style="color:red;">*</span> </label>
              {{form.firmware}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary mt-3" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.css' %}" />
{% endblock content %}

{% block scripts %}
<!-- Incluir jQuery primero -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluir Select2 después de jQuery -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'assets/js/realtime/device/filtro.js' %}"></script>

<style>
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: {{ button_color }};
    color: white;
}
</style>
{% endblock %}
