{% load i18n static %} {%block content %} {{form.media}} {{form.non_field_errors}}

<div class="modal-content">
  <div class="modal-body">
    <div class="card-header pb-0">
      <div class="card">
        <div class="modal-header">
          <h3>{% trans "Assign Vehicle" %}</h3>
          <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="card-body">
          <form hx-post="{{ request.path }}">
            {% csrf_token %}
            <div>
              <div class="row">
                <div class="col">
                  <h5>ID: {{Driver.personal_identification_number}}</h5>
                </div>
                <div class="col">
                  <h5>{% trans "Driver" %}: {{Driver.first_name}} {{Driver.last_name}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p></p>
                  <div class="input-group input-group-static mb-4">
                    <label for="id_vehicle"> {% trans "Vehicle" %} </label>
                    {{form.vehicle}}
                  </div>
                </div>

                <div class="col">
                  <p></p>
                  <div class="input-group input-group-static my-3">
                    <label for="id_date_joined"> {% trans "Date joined" %} </label>
                    {{form.date_joined}}
                  </div>
                  <div id="form-errors">{{form.date_joined.errors}}</div>
                </div>

                <div class="col">
                  <p></p>
                  <div class="input-group input-group-static my-3">
                    <label for="id_date_leaving"> {% trans "Date leaving" %} </label>
                    {{form.date_leaving}}
                  </div>
                  <div id="form-errors">{{form.date_leaving.errors}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}">
  </head>

{% endblock %}
