{% load i18n static %}

{%block content %}
{{form.media}}

<div class="modal-content" id="miModal" style="z-index: 1050">
        <div class="modal-body">
            <div class="card-header pb-0">
                <div class="card">
                  <div class="modal-header">
                    <h3>{% trans "Assign Vehicle" %}</h3>
                    <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
            <div class="card-body">
                <form hx-post="{{ request.path}}"> {% csrf_token %}
                    <div>

                        <div class="row">
                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static mb-4">
                                        <label for="vehicles"> {% trans "Vehicle" %} </label>
                                        {{ form.vehicle }}
                                    </div>
                                </p>
                            </div>

                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static my-3">
                                        <label for="id_date_joined"> {% trans "Date joined" %} </label>
                                        <input type="datetime-local" name="date_joined" class="form-control" required id="id_date_joined" value="{{form.date_joined.value | date:'c'}}">
                                    </div>
                                    <div id="form-errors">
                                        {{form.date_joined.errors}}
                                    </div>
                                </p>
                            </div>

                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static my-3">
                                        <label for="id_date_leaving"> {% trans "Date leaving" %} </label>
                                        <input type="datetime-local" name="date_leaving" class="form-control" required id="id_date_leaving" value="{{form.date_leaving.value|date:'c'}}">
                                    </div>
                                    <div id="form-errors">
                                        {{form.date_leaving.errors}}
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class=row>
                            <div class=col>
                                <button class="btn btn-primary" type="submit"> <i class="fa-solid  fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.css' %}" />
  </head>

  {% endblock content %}
  {% block scripts %}
  <!-- Incluir jQuery primero -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Incluir Select2 después de jQuery -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="{% static 'assets\js\checkpoints\driver_analytic\select.js' %}"></script>

  <style>
      .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
          background-color: {{ button_color }};
          color: white;
      }
    </style>
  {% endblock %}
