{% load i18n static %} {% block content %}

<!-- Un formulario que pregunta al usuario si está seguro de querer eliminar la empresa. -->
<div class= "modal-content">
  <div class="row">
    <div class="modal-body-md-1">
      <div class="col-md-12">
        <div class="card card-background card-background-mask-dark align-items-start">
          <div
          class="full-background cursor-pointer"
          style="
          background-image: url('https://images.unsplash.com/photo-1604213410393-89f141bb96b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxuYXR1cmV8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60');
          "
          ></div>
          <div class="card-body">
            <form hx-post="{{ request.path }}" hx-target="#modal-content">
              {% csrf_token %}
              <p> {% trans '¿Are you sure you want to delete the billing' %} "{{ object }}" ?</p>
              <button type="submit" class="btn btn-light">{% trans "Confirm" %}</button>
              <button class="btn btn-light">
                <a href="{% url 'companies:services' %}">{% trans "Cancel" %}</a>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}
