{% for com in company %}
<tr>
    <!-- Contenido de la vista para usuarios con permiso -->
    <td>
        {% if perms.whitelabel.change_module %}
           <button type="button" hx-get="{% url 'companies:updateModule' com.id %}" class="btn btn-primary" hx-target="#dialog"><i class="fa-solid fa-pencil"></i></button>
        {% endif %}
        </td>
    <td>
        {{com.company_name}}
    </td>
    <td>
        {{com.coin}}
    </td>
    <td>
        {% for models_company in object_list %}
        {% if com.id == models_company.company_id %}
        {{models_company.group}}
        <br>
        {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for models_company in object_list %}
        {% if com.id == models_company.company_id %}
        {{models_company.price}}
        <br>
        {% endif %}
        {% endfor %}
    </td>
    <td>
        {% for price in list_price %}
        {% if price.company_id == com.id %}
            {{ price.total_price }}
        {% endif %}
        {% endfor %}
    </td>
</tr>
 {% endfor %}
 {% block scripts %}

<script>
    const input = document.getElementById("search-input");

    input.addEventListener("keyup", (e) => {
      const value = e.target.value.toLowerCase();
      // Obtener todas las filas de la tabla
      const rows = document.querySelector("tbody").querySelectorAll("tr");

      rows.forEach((row) => {
        // Obtener el texto de todas las celdas en la fila
        const cellTexts = Array.from(row.querySelectorAll("td")).map(cell => cell.textContent.toLowerCase());

        // Si alguna de las celdas contiene el valor buscado, mostrar la fila
        if (cellTexts.some(text => text.includes(value))) {
          row.hidden = false;
        } else {
          row.hidden = true;
        }
      });
    });
  </script>
{% endblock scripts %}
