{% load i18n static %}

{%block content %}
{{form.media}}

    <div class="modal-content">
        <div class="modal-body">
            <div class="card">
            <div class="modal-header">
                <h3> {% trans "Edit Event" %} </h3>
                <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card-body">
                <form hx-post="{{ request.path }}"> {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-static mb-4">
                                <label for="id_company" class="ms-0 mt-0">{% trans "Company" %}</label>
                                <select class="form-control" id="id_company" name="company">
                                    <option value=""></option> <!-- Espacio en blanco -->
                                    {% for company in companies %}
                                        <option value="{{ company.id }}">{{ company.company_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-static mb-4">
                                <label for="id_event" class="ms-0"> {% trans "Event Predefined" %}</label>
                                <select name="event" class = "form-control" id="id_event">
                                    {% for event in event_created %}
                                        <option value="{{event.id}}">  {{event.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-static mb-4">
                                <label for="id_alias" class="ms-0 mt-0"> {% trans "Event name" %} </label>
                                {{form.alias}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <div class="form-check form-switch">
                                        <label class="form-check-label" for="id_alarm_sound">{% trans "Alarm" %}</label>
                                        {{form.alarm_sound}}
                                    </div>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <div class="input-group  input-group-static mb-4">
                                        <label for="id_sound_priority" class="ms-0"> {% trans "Priority" %}</label>
                                        {{form.sound_priority}}
                                    </div>
                                </p>
                            </div>

                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static mb-4">
                                        <label for="id_type_alarm_sound" class="ms-0"> {% trans "Sound type" %}</label>
                                        {{form.type_alarm_sound}}
                                    </div>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <div class="input-group  input-group-static mb-4">
                                        <button type="button" class="btn btn-xs btn-primary" onclick="toggleSound(getSelectedSoundUrl(), this, event)" style="margin-top: 5mm;">
                                            <i class="fas fa-play"></i>
                                        </button>
                                    </div>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <div class="input-group  input-group-static mb-4">
                                        <label for="id_color" class="input-group input-group-static mb-4">
                                            {{ form.color.label_tag }}
                                        </label>
                                        <input type="color" class="form-control; ms-0" id="id_color" name="color" value="{{ form.color.value }}" oninput="updateColorPreview(this.value)" style="margin-top: -5mm;">
                                    </div>
                                    </p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <div class="form-check">
                                            <label class="custom-control-label" for="id_central_alarm"> {% trans "Central notification" %}</label>
                                            {{form.central_alarm}}
                                        </div>
                                    </p>
                                </div>

                                <div class="col">
                                    <p>
                                        <div class="form-check">
                                            <label class="custom-control-label" for="id_user_alarm">{% trans "User notification" %}</label>
                                            {{form.user_alarm}}
                                        </div>
                                        <div id="form-errors">
                                            {{form.user_alarm.errors}}
                                        </div>
                                    </p>
                                </div>

                                <div class="col">
                                    <p>
                                        <div class="form-check">
                                            <label class="custom-control-label" for="id_email_alarm"> {% trans "Email notification" %}</label>
                                            {{form.email_alarm}}
                                        </div>
                                    </p>
                                </div>

                        <div class="row">
                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static my-3">
                                        <label for="id_start_time"> {% trans "Start time" %}</label>
                                        {{form.start_time}}
                                    </div>
                                </p>
                            </div>

                            <div class="col">
                                <p>
                                    <div class="input-group input-group-static my-3">
                                        <label for="id_end_time"> {% trans "End time" %}</label>
                                        {{form.end_time}}
                                    </div>
                                    <div id="form-errors">
                                        {{form.end_time.errors}}
                                    </div>
                                </p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary mt-3" type="submit"> <i class="fa-solid  fa-floppy-disk me-2"></i>{% trans "Save" %} </button>
                            </div>
                        </div>
                    </div>
                </form>
                <audio id="alarm-audio" preload="auto"></audio>
            </div>
        </div>
    </div>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}">
    </head>


{% endblock %}

{% block scripts %}

<script>
    function getSelectedSoundUrl() {
        var selectElement = document.getElementById("id_type_alarm_sound");
        return selectElement.options[selectElement.selectedIndex].value;
    }
    document.getElementById("id_event").addEventListener("change", function(){
        document.getElementById("id_event").innerHTML = "";
    });
    function activate(id_alarm_sound) {
        var ddl = document.getElementById("id_sound_priority");
        var ddl_2 = document.getElementById("id_type_alarm_sound");
        var ddl_3 = document.getElementById("id_start_time");
        var ddl_4 = document.getElementById("id_end_time");
        if (id_alarm_sound.checked) {
            ddl.disabled = false;
            ddl_2.disabled = false;
            ddl_3.disabled = false;
            ddl_4.disabled = false;
            document.getElementById("id_color").removeAttribute("disabled");
        } else {
            ddl.disabled = true;
            ddl.value = "";
            ddl_2.disabled = true;
            ddl_2.value = "";
            ddl_3.disabled = true;
            ddl_3.value = "";
            ddl_4.disabled = true;
            ddl_4.value = "";
            document.getElementById("id_color").setAttribute("disabled", "disabled");
        }
    }


    function update_fields() {
        var alarm = document.getElementById("id_alarm_sound");
        var ddl = document.getElementById("id_sound_priority");
        var ddl_2 = document.getElementById("id_type_alarm_sound");
        var ddl_3 = document.getElementById("id_start_time");
        var ddl_4 = document.getElementById("id_end_time");
        if (alarm.checked) {
            ddl.disabled = false;
            ddl_2.disabled = false;
            ddl_3.disabled = false;
            ddl_4.disabled = false;
            document.getElementById("id_color").removeAttribute("disabled");
        } else {
            ddl.disabled = true;
            ddl_2.disabled = true;
            ddl_3.disabled = true;
            ddl_4.disabled = true;
            document.getElementById("id_color").setAttribute("disabled", "disabled");
        }
    }

    update_fields()
</script>
<script>
    // Captura la empresa seleccionada antes de la edición
    var previousCompany = "{{ object.company.id }}" || "";
    // Establece la empresa seleccionada antes de la edición en el campo company
    var companySelect = document.getElementById("id_company");
    for (var i = 0; i < companySelect.options.length; i++) {
        if (companySelect.options[i].value === previousCompany) {
            companySelect.options[i].selected = true;
            break;
        }
    }
</script>
<script>
    let audioPlayer = null;

    function toggleSound(soundUrl, button, event) {
        event.preventDefault(); // Evita que se envíe el formulario al hacer clic en el botón
        if (audioPlayer && !audioPlayer.paused) {
            audioPlayer.pause();
            button.innerHTML = '<i class="fas fa-play "></i>';
        } else {
            if(audioPlayer) {
                audioPlayer.pause();
            }
            audioPlayer = new Audio(soundUrl);
            audioPlayer.play();
            button.innerHTML = '<i class="fas fa-pause "></i>';
        }
    }
</script>
<script>
    // Obtener referencia a la casilla de verificación de "Alarm"
    var alarm_checkbox = document.getElementById("id_alarm_sound");

    // Obtener referencias a las casillas de verificación que queremos deshabilitar
    var central_notification_checkbox = document.getElementById("id_central_alarm");
    var user_notification_checkbox = document.getElementById("id_user_alarm");
    var email_notification_checkbox = document.getElementById("id_email_alarm");

    // Función para activar/desactivar las casillas de verificación
    function toggleCheckboxes(isAlarmChecked) {
        central_notification_checkbox.disabled = !isAlarmChecked;
        user_notification_checkbox.disabled = !isAlarmChecked;
        email_notification_checkbox.disabled = !isAlarmChecked;

        // Si la casilla de "Alarm" no está marcada, desmarcar las otras casillas
        if (!isAlarmChecked) {
            central_notification_checkbox.checked = false;
            user_notification_checkbox.checked = false;
            email_notification_checkbox.checked = false;
        }
    }

    // Agregar evento "change" a la casilla de verificación de "Alarm"
    alarm_checkbox.addEventListener("change", function() {
        toggleCheckboxes(this.checked);
    });

    // Llamar a la función inicialmente para configurar el estado inicial de las casillas
    toggleCheckboxes(alarm_checkbox.checked);
</script>
{% endblock scripts %}
