{% extends "layouts/base.html" %}

{% load i18n static %}

{% block title %}{% trans 'Historic_Tickets' %}{% endblock %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <div class="col">
                            <h5 class="text-white text-capitalize ps-3"> {% trans "Closed Tickets" %} </h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col d-flex">
                            <!-- Es la opción del buscador de la plantilla de Ticket -->
                            <form id="search-form" method="GET" onsubmit="return false">
                                <div class="input-group input-group-outline">
                                    <label class="form-label">{% trans "Search..." %}</label>
                                    <input id="search-input" type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="q" autocomplete="off">
                                </div>
                            </form>
                        </div>
                    </div>
                    <p><p>
                    <div class="scrollable-content" id="dynamic-scrollable-content" style="overflow-y: auto;">
                        <div class="table-responsive p-0">
                            <!-- Se realiza la tabla en la cual se estipulan los nombres de cada columna -->
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Ticket" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Created by" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Subject" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Priority" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Process" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Assigned To" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Status" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Created At" %}</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans "Last Comment" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ticket in closed_tickets %}
                                    <tr>
                                        <td>
                                            <!-- Aquí puedes agregar botones u acciones para el ticket si es necesario -->
                                            <!-- Botón para ver el ticket -->
                                            <button type="button" hx-get="{% url 'companies:view_ticket' ticket.id %}" class="btn btn-primary" hx-target="#dialog">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                        </td>
                                        <!-- Columnas de información del ticket -->
                                        <td class="align-middle text-center text-sm">
                                            <span class="font-weight-normal mb-0">{{ ticket.id }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="font-weight-normal mb-0">{{ ticket.created_by.username }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="font-weight-normal mb-0">{{ ticket.subject }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="font-weight-normal mb-0">{{ ticket.get_priority_display }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="font-weight-normal mb-0">{{ ticket.process_type }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if ticket.assign_to %}
                                            <span class="text-secondary mb-0">{{ ticket.assign_to }}</span>
                                            {% else %}
                                            <span class="text-secondary mb-0">{% trans "Unassigned" %}</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if ticket.status %}
                                            <span class="text-secondary mb-0">{% trans "Open" %}</span>
                                            {% else %}
                                            <span class="text-secondary mb-0">{% trans "Closed" %}</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-secondary mb-0">{{ ticket.created_at|date:"d/m/Y h:i:s A" }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-secondary mb-0">{{ ticket.last_comment|date:"d/m/Y h:i:s A" }}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/dynamic-scrollable-content.js' %}"></script>
<!-- Script para implementar el search en el modulo de tickets -->
<script>
    const input = document.getElementById("search-input");

    input.addEventListener("keyup", (e) => {
        const value = e.target.value.toLowerCase();
        // Obtener todas las filas de la tabla
        const rows = document.querySelector("tbody").querySelectorAll("tr");

        rows.forEach((row) => {
            // Obtener el texto de todas las celdas en la fila
            const cellTexts = Array.from(row.querySelectorAll("td")).map(cell => cell.textContent.toLowerCase());

            // Si alguna de las celdas contiene el valor buscado, mostrar la fila
            if (cellTexts.some(text => text.includes(value))) {
                row.hidden = false;
            } else {
                row.hidden = true;
            }
        });
    });
</script>
{% endblock %}
