{% load i18n static %}

{% block content %}
    {{ form.media }}
    <div class="modal-content">
        <div class="modal-body">
            <div class="card">
                <div class="modal-header">
                    <h3>{% trans "View Ticket" %}</h3>
                    <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <form hx-post="{{ request.path }}" hx-target="#modal-content" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-end">
                            <div class="col">
                                <!-- Sección de detalles del ticket (columna izquierda) -->
                                <ul class="list-group list-group-flush text-start">
                                    <li class="list-group-item"><strong>{% trans "# Ticket: " %}</strong> {{ ticket.id }}</li>
                                    <li class="list-group-item"><strong>{% trans "Subject:" %}</strong> {{ ticket.subject }}</li>
                                    <li class="list-group-item"><strong>{% trans "Priority: " %}</strong> {{ ticket.priority }}</li>
                                    <!-- Campo de selección de compañía -->
                                    <li class="list-group-item d-flex align-items-center">
                                        <strong>{% trans "Scale:" %}</strong>
                                        <select id="provider-company" class="form-select form-select-sm" name="provider_company" style="width: 150px; border: none;"
                                            {% if not ticket.status or ticket.provider_company_id and has_provider or user.company.id != ticket.company_id %}
                                            disabled
                                            {% endif %}>

                                            <!-- Lista combinada de compañías proveedoras y clientes -->
                                            {% for id, name in provider_companies %}
                                                <option value="{{ id }}"
                                                    {% if id == ticket.provider_company_id or id == ticket.customer_company_id %} selected {% endif %}>
                                                    {{ name }}
                                                </option>
                                            {% endfor %}

                                            <!-- Opción de Distribuidor si aplica -->
                                            {% if user.company.provider_id %}
                                                {% if ticket.provider_company_id and has_provider %}
                                                    <option value="" selected>{% trans "Distributor" %}</option>
                                                {% endif %}
                                            {% endif %}
                                        </select>
                                    </li>
                                    <li class="list-group-item d-flex align-items-center">
                                        <strong>{% trans "Assigned To:" %}</strong>
                                        <select id="assign-to" class="form-select form-select-sm" name="assign_to" style="width: 150px; border: none;" {% if not ticket.status or ticket.provider_company_id and has_provider or user.company.id != ticket.company_id %}
                                        disabled
                                        {% endif %}>
                                            <option value=""></option> <!-- Espacio en blanco -->
                                            <div class="flex-grow-1">
                                                {% for user in form.assign_to.field.queryset %}
                                                <option value="{{ user.id }}" {% if user.id == ticket.assign_to_id %} selected {% endif %}>{{ user.username }}</option>
                                                {% endfor %}
                                            </div>
                                        </select>
                                    </li>
                                    <!-- Sección de detalles del ticket (columna izquierda) -->

                                </ul>
                            </div>
                            <div class="col">
                                <!-- Sección de detalles del ticket (columna derecha) -->
                                <ul class="list-group list-group-flush text-start">
                                    <li class="list-group-item"><strong>{% trans "Status: " %}</strong>
                                        {% if ticket.status %}
                                            <span class="text-secondary mb-0">{% trans "Open" %}</span>
                                        {% else %}
                                            <span class="text-secondary mb-0">{% trans "Closed" %}</span>
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item"><strong>{% trans "Created at:" %}</strong> {{ ticket.created_at }}</li>
                                    <li class="list-group-item"><strong>{% trans "Created by:" %}</strong> {{ ticket.created_by.username }}</li>
                                    <!-- Campo de selección de proceso -->
                                    <li class="list-group-item d-flex align-items-center">
                                        <strong>{% trans "Scale Process:" %}</strong>
                                        <select id="process-type" class="form-select form-select-sm" name="process_type" style="width: 150px; border: none;" {% if not ticket.status or ticket.provider_company_id and has_provider or user.company.id != ticket.company_id %}
                                        disabled
                                        {% endif %}>
                                            <option value=""></option> <!-- Espacio en blanco -->
                                            {% for process in form.fields.process_type.queryset %}
                                                <option value="{{ process.id }}" {% if process.id == ticket.process_type.id %} selected {% endif %}>{{ process.process_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sección de mensajes -->
                        <h6 class="text-center" style="margin-top: 2px;">{% trans "MESSAGE" %}</h6>
                        <div class="card-body scrollable-content" style="max-height: 250px; overflow-y: auto;">
                            {% for message in messages %}
                            <!-- Detalles de cada mensaje -->
                                <div class="message-entry">
                                    <!-- Contenido del mensaje -->
                                    <div class="message-container">
                                        <div class="message-header">
                                            <div class="message-role">{{ message.user.username }}</div>
                                            <div class="message-sender">{{ message.sender_name }}</div>
                                            <div class="message-date">{{ message.created_at }}</div>
                                        </div>
                                        <hr style="border: 1px solid #ccc; margin-top: 10px; margin-bottom: 10px;">
                                        <div style="padding-top: 10px;">
                                            {{ message.text|linebreaksbr }}
                                            <p></p>
                                            {% for attachment in message.attachments.all %}
                                                <div class="attachment">
                                                    {% if attachment.file %}
                                                        <span class="material-icons" style="vertical-align: middle;">attach_file</span>
                                                        <a href="{{ attachment.file.url }}" target="_blank" style="display: inline-block; vertical-align: middle; margin-left: 5px;">
                                                            <span id="filename_{{ attachment.id }}">{{ attachment.file.name }}</span>
                                                        </a>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Fin del contenido scrollable -->

                        <!-- Sección de agregar comentario y cerrar ticket -->
                        <div class="card-body">
                            {% if not ticket.status and process_user == 1 %}
                            <li class="list-group-item text-start">
                                <!-- Botón de Reabrir Ticket -->
                                <form id="reopen-ticket-form" method="post" action="{{ request.path }}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" name="Reopen" id="reopen-ticket-btn" value="1" class="btn btn-primary">
                                        {% trans "Reopen" %}
                                    </button>
                                </form>
                            </li>
                            {% endif %}
                            <!-- Formulario para agregar comentarios -->
                            {% if not ticket_closed %}
                                <h6>{% trans "Add Comment" %}</h6>
                                <form method="post" enctype="multipart/form-data" action="{% url 'companies:comment_ticket' ticket.id %}">
                                    {% csrf_token %}
                                    {{ message_form.text }}
                                    <div style="margin-bottom: 5px;"></div>

                                        <div class="input-group input-group-static mb-4">
                                            <label for="id_file">{% trans "Attachments cannot exceed 7 MB : " %}</label>
                                            <input type="file" name="file" id="id_file" multiple accept="image/*,.cfg,.csv,.doc,.docx,.eml,.exe,.jpeg,.jpg,.mp4,.msg,.pdf,.png,.rar,.txt,.xls,.xlsx,.xml,.zip" />
                                        </div>
                                        <ul>
                                            {% if attachment_error %}
                                            <li style="color: red;">{{ attachment_error }}</li>
                                            {% endif %}
                                        </ul>
                                    </p>
                                    <div id="attachment-preview"></div>
                                    <p></p>
                                    <button type="submit" name= "Send" id="Send" value="1" class="btn btn-primary float-start">{% trans "Send" %}</button>
                                </form>

                                <!-- Botón para cerrar el ticket -->
                                {% if user.company.id == 1 or ticket.created_by == user %}
                                    <button type="submit" name="close_ticket" id="close_ticket" value="1" class="btn btn-danger float-end">
                                        {% trans "Close Ticket" %}
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlace a la hoja de estilos CSS -->
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}">
    </head>
    <script>
        var fetchUrl = "{{ request.path }}";
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'assets/js/whitelabel/tickets/process_by_company.js' %}"></script>
    <script src="{% static 'assets/js/whitelabel/tickets/adjuntos.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Itera sobre cada enlace de archivo y actualiza el texto con el nombre del archivo
            $('[id^="filename_"]').each(function() {
                var originalText = $(this).text();
                var filenameParts = originalText.split('_');
                var filename = filenameParts.slice(3).join('_');
                $(this).text(filename);
            });

            // Enviar el formulario cuando se seleccione un usuario
            $('#id_assign_to').change(function() {
                $('#assign-form').submit();
            });
        });
    </script>
    <script>
        var reopenBtn = document.getElementById('reopen-ticket-btn');

        reopenBtn.addEventListener('click', function(event) {
            var isConfirmed = window.confirm('{% trans "Are you sure you want to reopen the Ticket " %}' + '"{{ ticket.id }}"' + " ?");
            if (!isConfirmed) {
                event.preventDefault(); // Prevenir el envío del formulario si el usuario cancela
            }
        });
    </script>
    <script>
    var translations = {
        confirmFilter: "{% trans 'Please select at least one filter before applying.' %}",
        confirmDateEnd: "{% trans 'Ending Date cannot be earlier than Start Date.' %}",
        confirmDateBoth: "{% trans 'Please select both Start and End date.' %}",
        low: "{% trans 'Low' %}",
        medium: "{% trans 'Medium' %}",
        high: "{% trans 'High' %}",
        end: "{% trans 'End' %}",
        home: "{% trans 'Home' %}",
        open: "{% trans 'Open' %}",
        closed: "{% trans 'Closed' %}",
        to: "{% trans 'to' %}",
        of: "{% trans 'of' %}",
        days: "{% trans 'Days' %}",
        distributor : "{% trans 'Distributor' %}",
        ticketHistoric : "{% trans 'Cases_Historic' %}",
        unassigned : "{% trans 'Unassigned' %}",
        noResultsFound: "{% trans 'No results found' %}",
        displaying: "{% trans 'Displaying' %}",
        file: "{% trans 'The archive ' %}",
        isNotAllowed: "{% trans ' is not allowed. Allowed formats are: ' %}",
        alertFilesExceedsSize: "{% trans 'The total size of the selected files exceeds the maximum allowed size of ' %}",
        alertFileExceedSize: "{% trans ' exceeds the maximum allowed size of ' %}"
    };
    </script>

{% endblock %}
