<!-- prettier-ignore -->

{% extends 'authentication/base.html' %}
{% load i18n static %}

{% block title %} {% trans "Password change successful" %} {% endblock title %}

{% block content %}

<main class="main-content mt-0">
  <div class="page-header align-self-center min-vh-100" style="background-image: url({{ MEDIA_URL }}/backgrounds/login-2.jpg);">
  <span class="mask bg-gradient-dark opacity-6"></span>

    <!-- Contenedor de la targeta -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bolder text-center">{% trans "Password change successful" %}</h4>
          </div>
          <!-- Información -->
          <div class="card-body">
            <p class="mb-3 text-center">{% trans "Your password was changed." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Créditos de imagen -->

</main>

{% endblock content %}
