{% load i18n static %}
{% for vehicle in list_vehicles %}
    <tr>
        <td>
            <!-- Contenido de la vista para usuarios con permiso a editar o eliminar-->
            {% if perms.realtime.change_vehicle %}
                <button type="button" hx-get="{% url 'realtime:update_vehicle' vehicle.id %}" class="btn btn-primary" hx-target="#dialog"><i class="fa-solid fa-pencil"></i></button>
            {% endif %}
            {% if perms.realtime.delete_vehicle %}
                <button type="button" hx-get="{% url 'realtime:delete_vehicle' vehicle.id %}" class="btn btn-danger" hx-target="#dialog"><i class="fa-solid fa-trash"></i></button>
            {% endif %}


        </td>
        <td class="align-middle text-center text-sm">
          <img style="inline-size: 50px; block-size: 50px;" class= "myImage" src="{{vehicle.icon }}" alt="icon">
        </td>
        <td class="align-middle text-center text-sm">
            <span class="text font-weight-normal mb-0"> {{vehicle.company }} </span>
        </td>
        <td class="align-middle text-center text-sm">
            <span class= "text font-weight-normal mb-0"> {{vehicle.license }} </span>
        </td>
        <td class="align-middle text-center text-sm">
            <span class= "text font-weight-normal mb-0"> {{vehicle.n_interno }} </span>
        </td>
        <td class="align-middle text-center text-sm">
            <span class= "text-secondary text font-weight-normal mb-0">{{vehicle.device}} </span>
        </td>
        <td class="align-middle text-center text-sm">
            <span class= "text-secondary text font-weight-normal mb-0">{{vehicle.vehicle_type}}</span>
        </td>
        <td class="align-middle text-center text-sm">
            <span class= "text-secondary text font-weight-normal mb-0">{{vehicle.installation_date}}</span>
        </td>
        {% if vehicle.is_active %}
        <td class="align-middle text-center text-sm">
          <span class="text-secondary mb-0">{% trans "Active" %}</span>
        </td>
        {% else %}
        <td class="align-middle text-center text-sm">
          <span class="text-secondary mb-0">{% trans "Inactive" %}</span>
        </td>
        {% endif %}
    </tr>
{% endfor %}
{% block scripts %}

<script>
    const input = document.getElementById("search-input");

    input.addEventListener("keyup", (e) => {
      const value = e.target.value.toLowerCase();
      // Obtener todas las filas de la tabla
      const rows = document.querySelector("tbody").querySelectorAll("tr");

      rows.forEach((row) => {
        // Obtener el texto de todas las celdas en la fila
        const cellTexts = Array.from(row.querySelectorAll("td")).map(cell => cell.textContent.toLowerCase());

        // Si alguna de las celdas contiene el valor buscado, mostrar la fila
        if (cellTexts.some(text => text.includes(value))) {
          row.hidden = false;
        } else {
          row.hidden = true;
        }
      });
    });
  </script>
{% endblock scripts %}
