{% load i18n static %} {% block content %} {{form.media}}
<div class="modal-content" id="miModal" style="z-index: 1050" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-body">
    <div class="card">
      <div class="modal-header">
        <h3>{% trans "Update Asset" %}</h3>
        <button type="button" id="cerrarVenta" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form hx-post="{{ request.path }}" hx-target="#modal-content" enctype="multipart/form-data">
        <div class="card-body">
          {% csrf_token %}
          <input type="hidden" id="id_vehicle" value="{{ vehicle.id }}" />
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_plate">{% trans "Plate:" %} <span style="color: red"> *</span> </label>
                {{form.license}}
              </div>
              <div class="text-danger">{{ form.license.errors }}</div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_owner">{% trans "Owner:" %}</label>
                {{form.owner}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_insurance">{% trans "Insurance:" %}</label>
                {{form.insurance}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4 d-flex align-items-center">
                <label for="id_vehicle_type" class="mb-0 me-2"> {% trans "Asset type:" %} <span style="color: red">*</span> </label>
                <div class="form-check form-switch me-2">{{ form.asset_type }}</div>
                <select id="id_vehicle_type" name="vehicle_type" class="form-control form-control-lg ms-2" data-initial="{{ initial_vehicle_type }}">
                  {% for type in types_assets %}
                  <option value="{{ type.id }}">{{ type.asset_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_company">{% trans "Company:" %}<span style="color: red"> *</span></label>
                {{form.company}}
              </div>
              <div id="form-errors">{{form.company.errors}}</div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_device">{% trans "Device / Imei:" %}<span style="color: red"> *</span></label>
                {{form.device}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_fuel_type">{% trans 'Fuel type:' %}<span style="color: red"> *</span></label>
                {{form.fuel_type}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_n_interno">{% trans 'N° internal:' %}<span style="color: red"> *</span></label>
                {{form.n_interno}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_cylinder_capacity">{% trans 'Cylinder capacity:' %}</label>
                {{form.cylinder_capacity}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_km_per_gallon">{% trans 'Km per gallon:' %}</label>
                {{form.km_per_gallon}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_max_speed_allowed">{% trans 'Max speed allowed:' %}</label>
                {{form.max_speed_allowed}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_fuel_tank_capacity">{% trans 'Fuel tank capacity in gallons:' %}</label>
                {{form.fuel_tank_capacity}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_brand">{% trans "Brand:" %}</label>
                <select id="id_brand" name="brand" class="form-control form-control-lg" data-initial="{{ initial_brand }}">
                  <!-- Options will be populated dynamically -->
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_line">{% trans "Line:" %}</label>
                <select id="id_line" name="line" class="form-control form-control-lg" data-initial="{{ initial_line }}">
                  <!-- Options will be populated dynamically -->
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_model">{% trans "Model:" %}</label>
                {{form.model}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_color">{% trans 'Color:' %}</label>
                {{form.color}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_engine_serial">{% trans 'Engine serial:' %}</label>
                {{form.engine_serial}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_chassis">{% trans 'Chassis:' %}</label>
                {{form.chassis}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_capacity">{% trans ' Capacity Kg/PSJ:' %}</label>
                {{form.capacity}}
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-static mb-4">
                <label for="id_alias">{% trans "Alias:" %}</label>
                {{form.alias}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="input-group input-group-static mb-4" style="width: 100%">
                <label for="id_installation_date">{% trans 'Installation date:' %}<span style="color: red"> *</span></label>
                {{ form.installation_date }}
              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch mb-3" style="padding-block-start: 18px">
                <label for="id_is_active" class="form-check-label">{% trans "Is active?" %}<span style="color: red"> *</span></label>
                {{ form.is_active }}
              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch mb-3" style="padding-block-start: 18px">
                <label for="id_remote_shutdown">{% trans 'Remote shutdown:' %}</label>
                {{form.remote_shutdown}}
              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch mb-3" style="padding-block-start: 18px">
                <label for="id_microphone"> {% trans 'Microphone:' %} </label>
                {{form.microphone}}
              </div>
            </div>
            <div class="col">
              <div class="form-check form-switch mb-3" style="padding-block-start: 18px">
                <label for="id_camara">{% trans 'Camera:' %}</label>
                {{form.camera}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="contbox_icon radioSelected">
              <label for="id_icon">{% trans 'Icon:' %}<span style="color: red"> *</span></label>
              <div id="icon-options">
                {% for value, url in form.icon.field.choices %}
                <label>
                  <input type="radio" name="{{ form.icon.name }}" value="{{ value }}" {% if value == form.initial.icon %} checked {% endif %}>
                  <img class="myImage" src="{{ value }}" alt="icon" />
                </label>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary mt-3" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i> {% trans "Save" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/estilos_templates.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.css' %}" />
</head>

<!-- Incluir jQuery primero -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluir Select2 después de jQuery -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'assets/js/realtime/vehicle/filtro.js' %}"></script>
<script src="{% static 'assets/js/realtime/vehicle/brand_and_line.js' %}"></script>

<script>
  document.getElementById("id_model").addEventListener("input", function (e) {
    if (this.value.length > 4) {
      this.value = this.value.slice(0, 4);
    }
  });
</script>
<script>
  document.getElementById("id_capacity").addEventListener("input", function (e) {
    if (this.value.length > 10) {
      this.value = this.value.slice(0, 10);
    }
  });
</script>
<style>
  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
      background-color: {{ button_color }};
      color: white;
  }
</style>

{% endblock content %}
